<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./css/main.min.css">
</head>

<body class="bg-secondary">
    <script src=""></script>
    <%- include('./partial Templates/nav.ejs') %>

</body>

</html>